@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*, :after, :before {
    box-sizing: border-box;
}
body {
    font-family: Montserrat;
    margin: 0;
    overflow-x: hidden;
    outline: 0;
    min-height: 100vh;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 10px;
}
div {
    display: block;
    unicode-bidi: isolate;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
.begin{
    min-height: 100vh;
}
.nav-wrapper{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #d84e55;
    color: white;
    padding-top: 0.85rem;
    z-index: 100;
}
.nav-center{
    margin: 0 auto;
    max-width: 1128px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.nav-left{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.75rem;
}
.nav-wrapper .bus-logo{
    width: 4.063rem;
    height: 2.625rem;
    cursor: pointer;
}
.nav-wrapper .bus-logo img {
    height: 100%;
    width: 100%;
}
.nav-wrapper .nav-link {
    line-height: 1.25rem;
    font-weight: 400;
    font-size: 0.875rem;
    color: white;
    -webkit-text-decoration: none;
    text-decoration: none;
    padding: 1.25rem 0.5rem;
}
.nav-wrapper .active {
    border-bottom: 3px solid white;
    font-weight: 700;
}
.nav-wrapper .nav-right {
    position: relative;
}
.nav-wrapper .nav-right {
    position: relative;
}
.nav-wrapper .link-icon {
    gap: 0rem;
}
.nav-section{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.75rem;
}
.nav-wrapper .nav-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 0.5rem;
    cursor: pointer;
}
.nav-wrapper .nav-icon img {
    height: 1.5rem;
    width: 1.5rem;
}
.nav-wrapper .downarrow{
    font-size: 1rem;
}
.icon {
    cursor: pointer;
}
section {
    display: block;
    unicode-bidi: isolate;
}
.pnrstatus-main .banner1 {
    height: 27rem;
    padding-top: 6.2rem;
    position: relative;
}
.pnrstatus-main .breadcrumb-wrapper {
    padding: 8px 0;
    background: #1d1d1d;
    margin-bottom: 0;
    position: relative;
    top: -1.5rem;
}
.breadcrumb-wrapper .breadcrumb-content {
    width: 1128px;
    display: flex;
    margin: 0 auto;
}
.breadcrumb-wrapper .crumb-link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.breadcrumb-wrapper .crumb-link, .breadcrumb-wrapper .crumb-link .crumb-href {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.31px;
    color: #9f9eff !important;
}
.breadcrumb-wrapper .crumb-link .crumb-href:hover, .breadcrumb-wrapper .crumb-link .crumb-href:visited {
    color: #9f9eff !important;
}
.crumb-link{
    text-decoration: underline;
}
.breadcrumb-wrapper .crumb-dstn {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.31px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.pnrstatus-main .banner {
    height: 350px;
    border-radius: 0;
    position: relative;
    top: -1.5rem;
}
.banner, .logo {
    display: flex;
}
.banner {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 9rem 0;
    height: 35.5rem;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-radius: 0 0 48px 48px;
}
.logo .text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    display: flex;
    font-size: 40px;
    line-height: 120%;
    color: #fff;
}
.logo .rails-logo {
    padding-left: 16px;
}
.irctc-logo {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    padding-left: 16px;
}
.pnrstatus-main .irctc {
    padding-left: 1rem;
}
.ris-wrapper, .ris-wrapper .ris-selector {
    display: flex;
    align-items: center;
    height: 40px;
}
.ris-wrapper {
    margin: 3rem 0 1.5rem;
    grid-gap: 1rem;
    gap: 1rem;
}
.ris-wrapper .ris-selector {
    flex-direction: row;
    padding: 8px 12px;
    grid-gap: 16px;
    gap: 16px;
    background: #fff;
    border-radius: 100px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #1d1d1d;
    width: -moz-max-content;
    width: max-content;
    cursor: pointer;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.ris-wrapper .radio-button-outer {
    margin-right: unset;
    width: 20px;
    height: 20px;
    background: #fff;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #4a4a4a;
}
.ris-wrapper .radio-button-outer .radio-button-inner {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.ris-wrapper .red-border-radio {
    border: 2px solid #d84e55;
}
.ris-wrapper .red-background {
    background: #d84e55 !important;
}